*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#f5f5f5;
color:#333;
}

header{
background:#000;
color:white;
text-align:center;
padding:20px;
}

nav{
margin-top:15px;
}

nav button{
background:white;
border:none;
padding:10px 20px;
margin:5px;
cursor:pointer;
border-radius:5px;
transition:0.3s;
}

nav button:hover{
background:#ddd;
}

main{
padding:40px;
text-align:center;
}

.seccion{
display:none;
}

.activa{
display:block;
}

.galeria{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
margin-top:20px;
}

.galeria img{
width:100%;
border-radius:10px;
box-shadow:0px 4px 10px rgba(0,0,0,0.2);
transition:0.3s;
}

.galeria img:hover{
transform:scale(1.05);
}

#servicios{
    background-image: url("Imagen/campo.jpg");
    background-size: cover;
    background-position: center;
    padding: 40px;
    text-align: center;
}

.productos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.producto{
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    transition: transform 0.3s;
}

.producto img{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}

.producto:hover{
    transform: scale(1.05);
}

/* Colores llamativos */

.papas{
    background: #d4a017;
}

.platano{
    background: #f4c542;
}

.tomates{
    background: #e63946;
}

.frijol{
    background: #6a4c93;
}

.cafe{
    background: #6f4e37;
}